ul{
	padding:0;
	margin:0;
	list-style:none;
}
li{
	border:1px solid #000;
	width:120px;
	padding:3px;
	position:relative;
	background-color:grey;
}
li:hover{
	background-color:#000;
	color:white;
}
/*submenu*/
li > ul{
	position:absolute;
	left:126px;
	top:-1px;
	color:#000;
	
	display:none;
}
li:hover > ul{
	display:block;
}